@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

$off-white: #f8f6f6;
$grey: #2a363b;
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: $off-white;
  color: $grey;
  min-height: 100vh;
  height: 100vh;
}

.auth-page {
  height: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  background-color: $grey;
  color: $off-white;
  display: flex;
  padding: 3vh 0;
  justify-content: space-evenly;
}
h1 {
  text-align: center;
}

form {
  width: 60vw;
  height: 30vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  input {
    border-radius: 40px;
    padding: 1vw;
    min-width: 50%;
    border: 1px solid $grey;
  }
  input:focus {
    outline: 0;
  }
  input[type='submit'] {
    min-width: 20%;
    background-color: $grey;
    color: $off-white;
    transition: 0.8s;
  }
  input[type='submit']:hover {
    background-color: $off-white;
    color: $grey;
  }
}

.form-switch-container {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    width: 50%;
    background-color: $grey;
    color: $off-white;
    padding: 3vw;
    transition: 0.8s;
  }
  button:focus {
    outline: 0;
  }
  button:hover {
    background-color: $off-white;
    color: $grey;
  }
}

.character-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
}

.card {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $grey;
  color: $off-white;
  width: 20vw;
  border-radius: 40px;
  padding: 2vw;
  transition: 0.8s;
  &:hover {
    background-color: $off-white;
    color: $grey;
    border: 1px solid $grey;
  }
  img {
    width: 60%;
    border-radius: 100%;
    border: 1px solid $off-white;
  }
}
